<aside class="col-lg-3 col-md-4 mb-4">
  <div class="list-group shadow-sm">
    <a href="dashboard.php" class="list-group-item list-group-item-action active">Dashboard</a>
    <a href="accounts.php" class="list-group-item list-group-item-action">Account</a>
    <a href="edit_profile.php" class="list-group-item list-group-item-action">Edit Profile</a>
    <a href="change_password.php" class="list-group-item list-group-item-action">Change Password</a>
  </div>

  <a href="logout.php" class="btn btn-outline-danger w-100 mt-3">
    <i class="fa fa-power-off"></i> Log out
  </a>
</aside>
